/com
/imexport-manager.xml
/meeting.xml
/organization-controller.xml
/secret-controller.xml
/secret-manager.xml
/collaboration-controller.xml
/collaboration-manager.xml
/collmanagertest.xml
/conf
/indexResumeImp.xml
/meetingroom.xml
/projectmanage.xml
/videoconference.xml
/workFlowAnalysis.xml
/blog-controller.xml
/blog-manager.xml
/main-controller.xml
/main-manager.xml
/mobile.xml
/peoplerelate.xml
/test
/www
/ApplicationContext.xml
/WebService.xml
/WebServiceJSR181.xml
/ajax.xml
/bulletin.xml
/cluster.xml
/doc-controller.xml
/doc-manager.xml
/formbizconfig.xml
/hibernate.cfg.xml
/ldap-synchron.xml
/log-controller.xml
/mobileManage.xml
/pigeonhole.xml
/rss.xml
/section.xml
/smsAdapterManager.xml
/system-mgr.xml
/taskmanage.xml
/timecard.xml
/urlMapping.xml
/workTimeSet.xml
/a8genius.xml
/addressbook.xml
/agent.xml
/bbs.xml
/caManager.xml
/caaccount.xml
/calendar.xml
/common-controller.xml
/common-manager.xml
/deeManager.xml
/deeSectionManager.xml
/edoc-controller.xml
/edoc-manager.xml
/exchange-controller.xml
/exchange-manager.xml
/flowperm-controller.xml
/flowperm-manager.xml
/hr.xml
/httpsManager.xml
/identificationDogManager.xml
/myapply-controller.xml
/myapply-manager.xml
/news.xml
/office-controller.xml
/office-manager.xml
/officeOcx.xml
/officeadmin-controller.xml
/officeadmin-manager.xml
/plan.xml
/asset-controller.xml
/asset-manager.xml
/book-controller.xml
/book-manager.xml
/index-Interface.xml
/inquiry.xml
/link-manager.xml
/mobileMessage.xml
/webmail-controller.xml
/webmail-manager.xml
