<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>V3XApp</display-name>
	<distributable />
	<context-param>
		<param-name>ApplicationContextPath</param-name>
		<param-value>/seeyon</param-value>
	</context-param>
	<context-param>
		<param-name>config.A8ApplicationRoot.key</param-name>
		<param-value>A8ApplicationRoot</param-value>
	</context-param>
	
	<!-- Log4JConfigurator arameters -->    
	<context-param>
		<param-name>log4j.config.file</param-name>
		<param-value>classpath*:conf/Log4j.properties</param-value>
	</context-param>
	<context-param>
		<param-name>SystemInitialization.File.URL</param-name>
		<param-value>classpath*:conf/SystemInitialization.properties</param-value>
	</context-param>
	<context-param>
		<param-name>SystemPluginDefintion.Path</param-name>
		<param-value>classpath*:conf/plugin/*.xml</param-value>
	</context-param>
	<context-param>
		<param-name>config.custom.path</param-name>
		<param-value>${A8ApplicationRoot}/../../../base/conf/system.properties</param-value>
	</context-param>
	<!-- read from -DA8.datasource.properies.filepath -->
	<context-param>
		<param-name>system.environment.keys</param-name>
		<param-value>db.hibernateDialect,workflow.dialect</param-value>
	</context-param>
  
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            WEB-INF/seeyonCommon-servlet.xml,
            classpath*:ApplicationContext.xml,
            classpath*:hibernate.cfg.xml,
			classpath*:SeeyonOrganization.xml,
			classpath*:main-controller.xml,
			classpath*:main-manager.xml,
			classpath*:task-context.xml,
			classpath*:message-context.xml,
			classpath*:filemanager-context.xml,
			classpath*:metadata-context.xml,
			classpath*:search-manager.xml,
			classpath*:common-manager.xml,
			classpath*:common-controller.xml,
			classpath*:affair-manager.xml,
			classpath*:collaboration-manager.xml,
			classpath*:collaboration-controller.xml,
			classpath*:bbs.xml,
			classpath*:blog-controller.xml,
			classpath*:blog-manager.xml,
			classpath*:urlMapping.xml,
			classpath*:ajax.xml,
			classpath*:config-manager.xml,
			classpath*:skin-manager.xml,
			classpath*:timecard.xml,
            classpath*:inquiry.xml,
            classpath*:bulletin.xml,
			classpath*:plan.xml,
			classpath*:news.xml,
			classpath*:meeting.xml,
			classpath*:meetingroom.xml,
			classpath*:bulletin.xml,
			
			<!-- 2017-3-20 诚佰公司 增加文件下载 zhaohf-->
			classpath*:hbcb-manager.xml,
			<!-- 诚佰公司-->
			
			classpath*:organization-controller.xml,
			classpath*:doc-controller.xml,
			classpath*:doc-manager.xml,
			classpath*:index-manager.xml,
			classpath*:index-Interface.xml,
			classpath*:excel.xml,
			classpath*:operationlog.xml,
			classpath*:peoplerelate.xml,
			
			<!-- 成发集团项目 增加  yangyh-->
			classpath*:secret-controller.xml,
			classpath*:secret-manager.xml,
			<!-- 成发集团项目 增加  yangyh-->
			
			classpath*:edoc-controller.xml,
			classpath*:edoc-manager.xml,
			classpath*:exchange-controller.xml,
			classpath*:exchange-manager.xml,
			classpath*:system-mgr.xml,
			classpath*:webmail-manager.xml,
			classpath*:webmail-controller.xml,
			classpath*:calendar.xml,
			classpath*:projectmanage.xml,
			classpath*:rss.xml,
			classpath*:link-manager.xml,
			classpath*:addressbook.xml,	
			classpath*:flowperm-manager.xml,
			classpath*:flowperm-controller.xml,
			classpath*:permission-manager.xml,
			classpath*:mobile.xml,
			classpath*:WebService.xml,
			classpath*:ProductInformation.xml,
			classpath*:asset-controller.xml,
			classpath*:asset-manager.xml,
			classpath*:book-controller.xml,
			classpath*:book-manager.xml,
			classpath*:myapply-controller.xml,
			classpath*:myapply-manager.xml,
			classpath*:office-manager.xml,
			classpath*:office-controller.xml,
			classpath*:officeadmin-controller.xml,
			classpath*:officeadmin-manager.xml,
			classpath*:imexport-manager.xml,
			classpath*:hr.xml,
			classpath*:form-controller.xml,
			classpath*:hibernate_formtest.cfg.xml,
			classpath*:mobileMessage.xml,
			classpath*:log-controller.xml,
			classpath*:logonlog.xml,
			classpath*:section.xml,
			classpath*:propertymapper.xml,
			classpath*:integration.xml,
			classpath*:common.xml,
			classpath*:v3xorgusermapper.xml,
			classpath*:agent.xml,
			classpath*:applog-manager.xml,
			classpath*:formbizconfig.xml,
			classpath*:processlog-manager.xml,
			classpath*:a8genius.xml,
			classpath*:cluster.xml,
			classpath*:report_chart.xml,
			classpath*:event.xml,
			classpath*:serviceBeans.xml,
			classpath*:workTimeSet.xml,
			classpath*:jsPrincipal.xml,
			classpath*:taskmanage.xml,
			classpath*:v3x_workflow_dao.xml,
			classpath*:v3x_workflow_manager.xml,
			classpath*:workFlowAnalysis.xml,
			classpath*:videoconference.xml
        </param-value>
    </context-param>
    
    <listener>
    	<listener-class>com.seeyon.v3x.plugin.dee.DEEInitialitionListener</listener-class>
    </listener>
    
    <listener>
    	<listener-class>com.seeyon.v3x.common.SystemInitialized</listener-class>
    </listener>
	
	<filter>
		<filter-name>hibernateSessionFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>hibernateSessionFilter</filter-name>
		<url-pattern>*.do</url-pattern>
    </filter-mapping>
	<filter-mapping>
		<filter-name>hibernateSessionFilter</filter-name>
		<url-pattern>/getAjaxDataServlet</url-pattern>
    </filter-mapping>
    
    <filter>
    	<display-name>GenericFilter</display-name>
    	<filter-name>GenericFilter</filter-name>
    	<filter-class>com.seeyon.v3x.common.web.GenericFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>GenericFilter</filter-name>
    	<url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>GenericFilter</filter-name>
    	<url-pattern>/office/cache/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
    	<filter-name>GenericFilter</filter-name>
    	<url-pattern>/logs/*</url-pattern>
    </filter-mapping>          
        
    <servlet>
  		<servlet-name>xfire</servlet-name>
  		<servlet-class>org.codehaus.xfire.spring.XFireSpringServlet</servlet-class>
 	</servlet>
 	<servlet-mapping>
  		<servlet-name>xfire</servlet-name>
  		<url-pattern>/service/*</url-pattern>
 	</servlet-mapping>
    
    <servlet>
		<servlet-name>AJAXDataServlet</servlet-name>
		<servlet-class>
			com.seeyon.v3x.common.ajax.AJAXDataServlet
		</servlet-class>
	</servlet>
    <servlet>
		<servlet-name>AJAXMessageServlet</servlet-name>
		<servlet-class>
			com.seeyon.v3x.common.ajax.AJAXMessageServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>seeyonCommon</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>officeservlet</servlet-name>
		<servlet-class>
			com.seeyon.v3x.common.office.OfficeServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>pdfservlet</servlet-name>
		<servlet-class>
			com.seeyon.v3x.common.office.PdfServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>htmlofficeservlet</servlet-name>
		<servlet-class>
			com.seeyon.v3x.common.office.HtmlOfficeServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>isignaturehtml</servlet-name>
		<servlet-class>
			com.seeyon.v3x.common.isignature.ISignatureHtmlServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>XSLView</servlet-name>
		<servlet-class>
			www.seeyon.com.v3x.form.base.servlet.FormXSLView
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FormImgView</servlet-name>
		<servlet-class>
			www.seeyon.com.v3x.form.base.servlet.FormImg
		</servlet-class>
	</servlet>
	<!-- web service -->
	<servlet>
		<servlet-name>axis2</servlet-name>
	<servlet-class>com.seeyon.v3x.services.V3XAxis2Servlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>downloadService</servlet-name>
		<servlet-class>com.seeyon.v3x.services.FileOutputService</servlet-class>
	</servlet>
    <servlet>
    	<servlet-name>verifyCodeImage</servlet-name>
    	<servlet-class>com.seeyon.v3x.login.VerifyCodeImageServlet</servlet-class>
    </servlet>
    
 	<servlet>
    	<servlet-name>LogoutServlet</servlet-name>
    	<servlet-class>com.seeyon.v3x.login.LightweightLogoutServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>LightweightLoginServlet</servlet-name>
    	<servlet-class>com.seeyon.v3x.login.LightweightLoginServlet</servlet-class>
    	<init-param>
    		<param-name>LoginAuthenticationFile</param-name>
    		<param-value>conf/loginAuthentication.properties</param-value>
    	</init-param>
    </servlet>
    <servlet>
    	<servlet-name>SSOLoginServlet</servlet-name>
    	<servlet-class>com.seeyon.v3x.sso.SSOLoginServlet</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>SSOLogoutServlet</servlet-name>
    	<servlet-class>com.seeyon.v3x.sso.SSOLogoutServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>PortalServlet</servlet-name>
		<servlet-class>com.seeyon.v3x.portal.PortalServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>longPollingWaitServlet</servlet-name>
		<servlet-class>com.seeyon.oainterface.longpolling.longPollingWaitServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AJAXMessageLongPollingServlet</servlet-name>
		<servlet-class>com.seeyon.v3x.common.ajax.AJAXMessageLongPollingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DisplayChart</servlet-name>
		<servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
	</servlet>     
    <!--移动添加-->
    <servlet>
		<servlet-name>SeeyonMobileBrokerServlet</servlet-name>
		<servlet-class>com.seeyon.oainterface.mobile.remote.server.servlet.SeeyonMobileBrokerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SeeyonMobileBrokerServlet</servlet-name>
		<url-pattern>/servlet/SeeyonMobileBrokerServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>MobileAttachment</description>
		<display-name>MobileAttachment</display-name>
		<servlet-name>MobileAttachment</servlet-name>
		<servlet-class>com.seeyon.oainterface.mobile.remote.server.servlet.SeeyonMobileAttachmentService</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>MobileAttachment</servlet-name>
	<url-pattern>/servlet/SeeyonMobileAttachmentService</url-pattern>
	</servlet-mapping>
	 <!--移动添加结束-->
	<servlet-mapping>
		<servlet-name>downloadService</servlet-name>
		<url-pattern>/services/downloadService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>axis2</servlet-name>
		<url-pattern>/axis2/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>axis2</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FormImgView</servlet-name>
		<url-pattern>/FormImgView</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>XSLView</servlet-name>
		<url-pattern>/XSLView</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>AJAXDataServlet</servlet-name>
		<url-pattern>/getAjaxDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AJAXMessageServlet</servlet-name>
		<url-pattern>/getAJAXMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>seeyonCommon</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>officeservlet</servlet-name>
		<url-pattern>/officeservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pdfservlet</servlet-name>
		<url-pattern>/pdfservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>htmlofficeservlet</servlet-name>
		<url-pattern>/htmlofficeservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>isignaturehtml</servlet-name>
		<url-pattern>/isignaturehtmlservlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
 		<servlet-name>verifyCodeImage</servlet-name>
 		<url-pattern>/verifyCodeImage.jpg</url-pattern>
 	</servlet-mapping>
	 <servlet-mapping>
 		<servlet-name>LogoutServlet</servlet-name>
 		<url-pattern>/login/logout</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
 		<servlet-name>LightweightLoginServlet</servlet-name>
 		<url-pattern>/login/proxy</url-pattern>
 	</servlet-mapping>
	 <servlet-mapping>
 		<servlet-name>SSOLoginServlet</servlet-name>
 		<url-pattern>/login/sso</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
 		<servlet-name>SSOLogoutServlet</servlet-name>
 		<url-pattern>/login/ssologout</url-pattern>
 	</servlet-mapping>
	<servlet-mapping>
 		<servlet-name>PortalServlet</servlet-name>
 		<url-pattern>*.psml</url-pattern>
 	</servlet-mapping>
 	<servlet-mapping>
		<servlet-name>longPollingWaitServlet</servlet-name>
		<url-pattern>/longPollingWaitServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AJAXMessageLongPollingServlet</servlet-name>
		<url-pattern>/getAJAXMessageLongPollingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DisplayChart</servlet-name>
		<url-pattern>/displayChart</url-pattern>
	</servlet-mapping>
 	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<jsp-config>
		<taglib>
			<taglib-uri>http://v3x.seeyon.com/taglib/core</taglib-uri>
			<taglib-location>/WEB-INF/tld/v3x.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://v3x.seeyon.com/taglib/collaboration</taglib-uri>
			<taglib-location>/WEB-INF/tld/collaboration.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://v3x.seeyon.com/taglib/main</taglib-uri>
			<taglib-location>/WEB-INF/tld/main.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://v3x.seeyon.com/taglib/mobile</taglib-uri>
			<taglib-location>/WEB-INF/tld/mobile.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://v3x.seeyon.com/taglib/hr</taglib-uri>
			<taglib-location>/WEB-INF/tld/hr.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://v3x.seeyon.com/taglib/bbs</taglib-uri>
			<taglib-location>/WEB-INF/tld/bbs.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://v3x.seeyon.com/taglib/portal</taglib-uri>
			<taglib-location>/WEB-INF/tld/portal.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<!-- JNDI Db resource -->
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/A8</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/A8Form</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
</web-app>